<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Signup</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon_io/favicon.ico') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <button id="themeToggle" style="float: right">🌙</button>

      <h1>Create Account</h1>

      <form method="POST">
        <input type="text" name="username" placeholder="Username" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <button type="submit">Signup</button>
      </form>

      <p style="margin-top: 15px">
        Already have an account?
        <a href="{{ url_for('login') }}">Login</a>
      </p>
    </div>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
  </body>
</html>
